GRAMAVOICE_DB_URL=jdbc:mysql://localhost:3306/my_springboot_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Kolkata
GRAMAVOICE_DB_USERNAME=springuser
GRAMAVOICE_DB_PASSWORD=springpass
SERVER_PORT=8080
VITE_PROXY_TARGET=http://localhost:8080
